/*FONT STYLE*/
* {
  font-family: Radio Canada; }

body {
  background-color: transparent; }

/*FONDO DE LAS CARTAS*/
.card, .card2, .contactanos {
  background: #5b5e68;
  color: white; }

.navbar, .card, .card2, .contactanos, .footer-basic {
  border: solid 4px;
  border-image-source: linear-gradient(#e78302, #ffff, #e78302);
  border-image-slice: 4; }

/*HEADER*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 15px;
  border-radius: 5px; }

.navbar a {
  text-decoration: none;
  color: inherit; }

.logo {
  margin-right: 50px; }

.list {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center; }

#toggler,
.navbar label {
  display: none; }

.ri-menu-line {
  background-image: url(/imagen/menu2.png); }

.logo2 {
  width: 1.5rem; }

/*HTML ENSAYOS*/
/*SECTION1*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; }

.sizeimg {
  margin-top: 30px;
  width: 100%; }

.figura {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.card {
  border-radius: 5px; }

.card-ensayos {
  margin-top: 10px; }

p {
  margin: 10px; }

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

/*SECTION2*/
.cards2 {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax 350px, 1fr);
  gap: 20px;
  margin-top: 20px; }

.card2 {
  border-radius: 5px; }

.list2 {
  margin: 10px; }

/*HTML CONTACTO*/
.input-group {
  position: relative;
  margin: 25px; }

.input1 {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  font: inherit;
  color: #0a0a0a;
  background-color: transparent;
  outline: 2px solid #fff; }

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform .25s; }

.contactanos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px; }

.btnSend, .btnClear {
  height: 50px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
  border: transparent;
  background: #feeafa; }

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

textarea, fieldset {
  border-radius: 10px; }

textarea {
  margin-top: 10px; }

/*HTML NOSOTROS*/
.cartas {
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px; }

.imgNosotros {
  margin: 10px;
  border-radius: 5px; }

/*HTML INSPECCION*/
.cartas1 {
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5px; }

.imgIns {
  border-radius: 5px;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px; }

/*HTML INDEX*/
.carousel-inner {
  margin-top: 10px; }

.carousel-caption, h5 {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-size: 35px; }

/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  border-radius: 5px;
  margin-top: 10px; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 10px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

.list-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

/*RESPONSIVE*/
@media screen and (min-width: 800px) {
  .sizeimg {
    width: 50%; }
  .logo {
    width: 75%; }
  p, .list2, .list {
    font-size: 18px; }
  .centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden; }
  .list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 20px; }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer; }
  #toggler:checked ~ .menu {
    max-height: 100%; }
  .logo {
    width: 40%; }
  .centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .imgIns {
    width: 100%; } }

/*ANIMACIONES*/
/*-------------------------------*/
/*NAV-BAR*/
a.right {
  position: relative; }

a.right:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #e98e19;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

a.right:hover:before {
  visibility: visible;
  width: 100%; }

/*CONTACTO*/
.input1:focus + .input-label,
.input1:valid + .input-label {
  transform: translate(10px, -14px);
  color: white;
  padding-inline: 5px;
  background-color: #5b5e68;
  border-radius: 6px; }

.input1:is(:focus, :valid) {
  outline-color: #e98e19; }

.btnSend:hover {
  animation: pulsate 1s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px green; } }

.btnClear:hover {
  animation: pulsate1 1s ease-in-out; }

@keyframes pulsate1 {
  0% {
    box-shadow: 0 0 25px #3a97e4; } }

/*PRUEBAS*/
